@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #17161b;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 87rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.button {
  display: inline-flex;
  padding: 0px 0px;
}
.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px 40px 0px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08) url("../img/header/search.svg") center right 10px no-repeat;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #FFFFFF;
}
@media (max-width: 29.99875em) {
  .input {
    font-size: 14px;
    background: rgba(255, 255, 255, 0.08);
    padding: 0px 2px 0px 10px;
  }
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  border-bottom: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.07);
}
.header__container {
  display: flex;
  align-items: center;
}
@media (min-width: 90em) {
  .header__container {
    padding-top: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .header__container {
    padding-top: clamp( 1.25rem , 1.0714285714rem  +  0.8928571429vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .header__container {
    padding-top: 1.25rem;
  }
}
@media (min-width: 90em) {
  .header__container {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .header__container {
    padding-bottom: clamp( 0.625rem , 0.5357142857rem  +  0.4464285714vw , 0.9375rem );
  }
}
@media (max-width: 20em) {
  .header__container {
    padding-bottom: 0.625rem;
  }
}
.header__logo {
  font-weight: 700;
  line-height: 120%;
  position: relative;
  z-index: 5;
}
@media (min-width: 90em) {
  .header__logo {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .header__logo {
    font-size: clamp( 2.125rem , 1.5892857143rem  +  2.6785714286vw , 4rem );
  }
}
@media (max-width: 20em) {
  .header__logo {
    font-size: 2.125rem;
  }
}
@media (min-width: 90em) {
  .header__logo {
    margin-right: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .header__logo {
    margin-right: clamp( 0.625rem , -0.4464285714rem  +  5.3571428571vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .header__logo {
    margin-right: 0.625rem;
  }
}
@media (min-width: 90em) {
  .header__nav {
    margin-right: 5.75rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .header__nav {
    margin-right: clamp( 0.625rem , -0.8392857143rem  +  7.3214285714vw , 5.75rem );
  }
}
@media (max-width: 20em) {
  .header__nav {
    margin-right: 0.625rem;
  }
}
.header__find {
  width: 330px;
  height: 41px;
  border-radius: 8px;
  position: relative;
  z-index: 5;
}
@media (min-width: 90em) {
  .header__find {
    margin-right: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .header__find {
    margin-right: clamp( 0.625rem , 0.0892857143rem  +  2.6785714286vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .header__find {
    margin-right: 0.625rem;
  }
}
.header__find input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #FFFFFF;
}
@media (max-width: 29.99875em) {
  .header__find input::placeholder {
    font-size: 14px;
  }
}
@media (max-width: 61.99875em) {
  .header__find {
    width: 100%;
  }
}
.header__date {
  flex: 1 1 auto;
  align-items: center;
  font-weight: 400;
  position: relative;
  z-index: 5;
}
@media (max-width: 47.99875em) {
  .header__date {
    display: none;
  }
}
.header__hour {
  font-size: 20px;
  line-height: 115%;
}
.header__hour:not(:last-child) {
  margin: 0px 0px 4px 0px;
}
.header__days {
  font-size: 12px;
  line-height: 115%;
  white-space: nowrap;
}
.header__personal {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
  position: relative;
  z-index: 5;
}
@media (max-width: 61.99875em) and (min-width: 90em) {
  .header__personal {
    margin-right: 2.5rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 90em) {
  .header__personal {
    margin-right: clamp( 1.25rem , 0.8928571429rem  +  1.7857142857vw , 2.5rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .header__personal {
    margin-right: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .header__personal {
    margin-bottom: 30px;
  }
}

@media (max-width: 61.99875em) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #17161b;
    z-index: 4;
    padding: 6.25rem 0.9375rem 3.125rem 0.9375rem;
    transition: left 0.3s ease 0s;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    left: -100%;
    top: 0;
    background-color: #17161b;
  }
  .menu-open .menu {
    left: 0;
  }
  .menu-open .menu::before {
    left: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
}
.menu__item:not(:last-child) {
  margin: 0px 25px 0px 0px;
}
@media (max-width: 61.99875em) {
  .menu__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.menu__link {
  white-space: nowrap;
  font-weight: 500;
  line-height: 120%;
}
@media (min-width: 90em) {
  .menu__link {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .menu__link {
    font-size: clamp( 1.25rem , 1.1785714286rem  +  0.3571428571vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .menu__link {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 30px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    flex: 0 0 30px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.footer__text {
  text-align: center;
}
.footer__text p:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.page {
  padding: 80px 0px 40px 0px;
}
.page__container {
  display: flex;
}
@media (max-width: 61.99875em) {
  .page__container {
    flex-direction: column;
  }
}
.page__aside {
  flex: 1 1 100%;
}
@media (min-width: 61.99875em) {
  .page__aside {
    flex: 1 1 30%;
    padding-right: 25px;
    border-right: 1px solid #1C1B1F;
  }
}
.page__section {
  flex: 1 1 100%;
}
@media (min-width: 61.99875em) {
  .page__section {
    flex: 1 1 70%;
  }
}
@media (min-width: 61.99875em) and (min-width: 90em) {
  .page__section {
    padding-left: 2.1875rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 90em) {
  .page__section {
    padding-left: clamp( 1.25rem , 0.9821428571rem  +  1.3392857143vw , 2.1875rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 20em) {
  .page__section {
    padding-left: 1.25rem;
  }
}

.main-display__trailer {
  position: relative;
  background: url(../img/main/main.jpg) 0/cover no-repeat;
  height: 202px;
  width: 100%;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-display__views {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
.main-display__header {
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 5px;
}
@media (min-width: 90em) {
  .main-display__header {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .main-display__header {
    font-size: clamp( 1.25rem , 1.1785714286rem  +  0.3571428571vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .main-display__header {
    font-size: 1.25rem;
  }
}
.main-display__date {
  font-weight: 700;
  font-size: 14px;
  line-height: 115%;
}
.burron-play__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.07);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 90em) {
  .title {
    padding-top: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .title {
    padding-top: clamp( 1.875rem , 1.7857142857rem  +  0.4464285714vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .title {
    padding-top: 1.875rem;
  }
}
@media (min-width: 90em) {
  .title {
    padding-bottom: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .title {
    padding-bottom: clamp( 1.875rem , 1.7857142857rem  +  0.4464285714vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .title {
    padding-bottom: 1.875rem;
  }
}
.title__left {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}
.title__main {
  margin-right: 20px;
}
.title__count {
  color: rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  margin-right: 20px;
}
@media (min-width: 90em) {
  .title__count {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .title__count {
    font-size: clamp( 0.875rem , 0.7678571429rem  +  0.5357142857vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .title__count {
    font-size: 0.875rem;
  }
}
.title__right {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  color: rgba(255, 255, 255, 0.2);
  white-space: nowrap;
}
.title__right img {
  margin-left: 8px;
}

.trending__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .trending__row {
    flex-direction: column;
  }
}
.trending__item {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 48%;
  background: url(../img/main/trending.jpg) 0/cover no-repeat;
  border-radius: 16px;
}
@media (min-width: 90em) {
  .trending__item {
    height: 15.625rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .trending__item {
    height: clamp( 12.5rem , 11.6071428571rem  +  4.4642857143vw , 15.625rem );
  }
}
@media (max-width: 20em) {
  .trending__item {
    height: 12.5rem;
  }
}
@media (max-width: 61.99875em) {
  .trending__item {
    width: 100%;
  }
  .trending__item:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
.trending__plash {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px 12px;
  border-radius: 16px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.trending__footer {
  position: relative;
  padding: 19px 20px 19px 65px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.07);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 61.99875em) and (min-width: 90em) {
  .trending__footer {
    padding-left: 12.5rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 90em) {
  .trending__footer {
    padding-left: clamp( 3.75rem , 1.25rem  +  12.5vw , 12.5rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .trending__footer {
    padding-left: 3.75rem;
  }
}
.trending__title {
  font-weight: 700;
  line-height: 140%;
}
.trending__header {
  font-size: 15px;
}
.trending__date {
  font-size: 10px;
}
.trending__time {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  color: #000;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 5px 12px;
}

.small {
  width: 30px;
  height: 30px;
  left: 7%;
}

.button-play_small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular__row {
  display: flex;
  margin: 0px -20px;
}
@media (max-width: 61.99875em) {
  .popular__row {
    flex-direction: column;
    margin: 0px;
  }
}
.popular__column {
  flex: 0 1 33.333%;
  padding: 0px 20px;
}
@media (max-width: 61.99875em) {
  .popular__column {
    flex: 0 1 100%;
    padding: 0px;
  }
  .popular__column:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
.popular__item {
  display: flex;
  align-items: flex-end;
  background: url(../img/main/netflix.jpg) 0/cover no-repeat;
  position: relative;
  background-size: cover;
  border-radius: 16px;
}
@media (min-width: 90em) {
  .popular__item {
    height: 12rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .popular__item {
    height: clamp( 9.375rem , 8.625rem  +  3.75vw , 12rem );
  }
}
@media (max-width: 20em) {
  .popular__item {
    height: 9.375rem;
  }
}
.popular__footer {
  font-weight: 700;
  position: relative;
  padding: 8px 10px 8px 40px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.07);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 61.99875em) and (min-width: 90em) {
  .popular__footer-left {
    padding-left: 6.25rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 90em) {
  .popular__footer-left {
    padding-left: clamp( 1.25rem , -0.1785714286rem  +  7.1428571429vw , 6.25rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .popular__footer-left {
    padding-left: 1.25rem;
  }
}
.popular__header {
  font-size: 10px;
  line-height: 120%;
}
.popular__date {
  font-size: 8px;
  line-height: 120%;
}
.popular__rating {
  display: flex;
  font-size: 10px;
  line-height: 120%;
}
.popular__img {
  margin-right: 4px;
  display: flex;
  align-self: center;
}

.aside__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.aside__header {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}
.aside__sort {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
}
.aside__sort-text {
  margin-right: 15px;
}
.aside__sort-select {
  display: flex;
  color: rgba(255, 255, 255, 0.4);
}
.aside__sort-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4px;
}
.aside__sort-img img {
  width: 6px;
  height: 6px;
  cursor: pointer;
}
.aside__bottom {
  margin: 40px -25px 0px 0px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.02);
  padding-right: 25px;
}
@media (max-width: 61.99875em) {
  .aside__bottom {
    margin: 30px 0px 20px 0px;
  }
}
.aside__favourite-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  margin-bottom: 20px;
}
.aside__genres {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.aside__genres:not(:last-child) {
  margin-bottom: 40px;
}
.aside__genre {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  padding: 5px 10px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.aside__genre:not(:last-child) {
  margin-right: 30px;
}
.aside__footer {
  position: relative;
}
.aside__footer::before {
  content: "";
  display: block;
  width: 65px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -30px;
  left: 0;
}
.aside__add {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
  cursor: pointer;
}
.aside__add:not(:last-child) {
  margin-bottom: 20px;
}
.aside__add-plus {
  width: 18px;
  height: 18px;
  background: #2B2A2F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.item-aside {
  position: relative;
  background: url(../img/aside/batman.jpg) 0/cover no-repeat;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 90em) {
  .item-aside {
    height: 14.125rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .item-aside {
    height: clamp( 9.375rem , 8.0178571429rem  +  6.7857142857vw , 14.125rem );
  }
}
@media (max-width: 20em) {
  .item-aside {
    height: 9.375rem;
  }
}
.item-aside:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.item-aside__views {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
.item-aside__name {
  font-weight: 700;
}
.item-aside__header {
  line-height: 130%;
}
@media (min-width: 90em) {
  .item-aside__header {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .item-aside__header {
    font-size: clamp( 1rem , 0.8571428571rem  +  0.7142857143vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .item-aside__header {
    font-size: 1rem;
  }
}
.item-aside__date {
  font-size: 14px;
  line-height: 115%;
}

.perple {
  background: #8066F6;
}

.orange {
  background: #E1784F;
}

.green {
  background: #63CFE1;
}

.gray {
  background: #2B2A2F;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 5px;
  z-index: 100;
  display: none;
}
.modal__inner {
  width: 44%;
  height: 44%;
}

.modal-active {
  display: flex;
}
